
			@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
			@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');	
			@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
			*{
				margin:0px;
				padding:0px;
			}
			nav{
				width:100%;
				height:21px;
				background-color:black;
				
			}	
			nav ul{
				margin-left:40px;
				padding:0;
				list-style:none;
				
			}
			nav li{
				display:inline-block;
				line-height:21px;
				
			}	
			nav li a{
				display:block;
				text-decoration:none;
				font-size:14px;
				font-family:arial;
				color:lightblue;
				padding:0 20px;
				
			}
			nav li a:hover{
				color:red;
			}
				
			

			
			header{
				position:relative;
				font-size:20px;
				font-family: 'Arial', cursive;
				background-color:#FEFEFC;
				opacity:0.9;
				color:black;
				text-align:center;
				padding:0px;
				padding-bottom:0px;
				
			}
			header img{
				position:inline-block;
				margin-top:0px;
				
				float:left;
				padding-bottom:0px;
		
				
				
				
				
			}
			
			header h1{
				padding-top:20px;
				
				
			}
			body{
				background-color:#0A0A0A;
			}
			
			.search-label {
			display: block;
			margin-bottom: 1px;
			padding-left:20px;
			}

			.search-wrapper {
			display: inline-flex; /* Make the search bar and submit button inline */
			align-items: center; /* Align items vertically */
			margin-bottom: 60px;
			padding-left:20px;
			}

			input[type="email"] {
			margin-right: 5px; /* Adjust spacing between search bar and submit button */

			}
			
			#ContactPg4 {
				padding-top: 30px;
				
				color:white;
				
			}
			
			#ContactPg4 input{
				margin-top: 20px;
				
				
			}
			
			
			
			#firstPage{
				margin-top:20px;
				font-size:25px;
				text-align:center;
				background-color: #0A0A0A;
				color:white;
			
			}
			
			#firstPage h2{
				padding-top:40px;
				
			}
			
			#firstPage h3{
				font-family:'Quicksand', sans-serif;
				margin-top:50px;
				text-align:center;
				font-size:20px;
			}
			
			#firstPage img{
				float:center;
				
			}
			#goals h2{
				position:absolute;
				top:0px;
				left:0px;
				padding-top:10px;
				padding-left:20px;
				font-family:Papyrus, fantasy;
				font-size: 30px;
				margin:0px;
				
				
			}
			
			figure{
				margin:0;
			}
			
			#goals{
				
				color:white;
				background-color:#0A0A0A;
				height:100%;
				padding-left:10px;
				padding-top:100px;
				align-items:center;
				
				
			}
			
			/* #goals p{
				margin-left:50px;
				color:white;
				margin-top:30px;
				font-size:20px;
				font-family:'Quicksand', sans-serif;
				
			} */
			
			#goals ul{
				margin-left:50px;
				color:white;
				padding-top:10px;
				padding-left:20px;
				padding-bottom:30px;
				font-size:17px;
			}
			
				
			
			
			#digitalImagesPg4 {
			flex-grow: 1; /* Allow the paragraph to take remaining width */
			}
			
			#digitalImagesPg4 h3{
				color:white;
				font-size:28px;
				padding-bottom:20px;
				padding-top:20px;
				margin-top:10px;
			}
			
			#digitalImagesPg4 p{
				
				color:white;
				margin-top: 40px;
				font-size:18px;
				margin-right:220px;
				line-height:1.5;
			}
			
			#digitalImagesPg3{
				color:white;
				
			}
			.container{
				display:flex;
				align-items: center;
				
			}

			
			.image-wrapper {
			position: relative; /* To position h2 over image */
			margin-right: 20px; /* Adjust spacing between image and text */
			}
			
			

			
			
			#videoContainer{
				background-color:black;
				text-align:center;
				color:white;
				
			}
			

			
			#videoContainer h1{
				font-family:Papyrus, fantasy;
				margin-top: 30px;
				font-size:40px;
				
				
			}
			
			#videoContainer p{
				text-align:left;
				padding-top:60px;
				padding-left:200px;
				padding-right:200px;
				font-size: 19px;
				
			}
			#videoContainer2{
				text-align:center-left;
				color:white;
				padding-top:30px;
				padding-left:200px;
				padding-right:200px;
				font-size: 19px;
				
			}
			
			#ContactPg {
				color:white;
				
			}
			
			#ContactPg h2{
				margin-top:20px;
				font-family:Papyrus, fantasy;
				font-size:40px;
				
			}
			#ContactPg2 {
				padding-top: 30px;
				
				color:white;
				
			}
			
			#ContactPg2 input{
				margin-top: 20px;
				
				
			}	
			
			#ContactPg3{
				color:white;
				
			}
			#ContactPg3 img{
				padding-top:10px;
			}
			
			#respond{
				color:white;
				margin-top:40px;
				
			}
			
			#respond input[type='text'],
			#respond input[type='text'],
			#respond textarea{
				
				margin-bottom: 10px;
				display: block;
				width: 40%;
				border: 1px solid rgba(0, 0, 0, 0.1);
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				-o-border-radius: 2px;
				-ms-border-radius: 2px;
				-khtml-border-radius: 5px;
				border-radius: 5px;

				line-height: 1.2em;
			}
			
			fieldset{
				border: thin solid white;
				padding: 1.8em;
				width: 75%;
				
			}
			
			legend {
				padding-bottom:20px;
				font-weight: bold;
				float: left;
				margin-bottom: .5em;
				width: 100%;
			}
	

			
			
			
			
			#min-height{
				min-height:100px;
			}
			#wrap{
				min-width: 600px;
			}
			
			
			
				
				
			
				
				

				
			
				
				
			
			
		
			section{
				font-family: 'Quicksand', sans-serif;
				padding:10px;
				text-align:left;
				color:white;

				
			}
			
		
			body{
				display:flex;
				flex-direction: column;
				font-family: 'Quicksand', sans-serif;
				min-height:100vh;
				float:center;

			}
			
			footer{
				position:relative;
				bottom:0;
				width:auto;
				background-color:#04101F;
				color:white;
				clear:both;
				text-align:center;
				padding:10px;
				padding-bottom:40px;
				text-decoration:none;
				margin-top:auto;
				
			}
			
			#footerPt2 a{
				text-decoration:none;
				
				
			}
			
			footer img{
				text-decoration:none;
				
			}
			
			footer nav{
				color:white;
				background-color:#04101F;
				
				
			}
			